<?xml version="1.0" encoding="UTF-8"?>
<localSearchSolver>
    <scoreDrl>/solver/score.drl</scoreDrl>
    <scoreDefinition>
        <scoreDefinitionType>HARD_AND_SOFT</scoreDefinitionType>
    </scoreDefinition>
    <termination>
        <scoreAttained>0hard/0soft</scoreAttained>
        <maximumMinutesSpend>5</maximumMinutesSpend>
        <!--<maximumUnimprovedStepCount>1000</maximumUnimprovedStepCount>-->
    </termination>
    <selector>
        <moveFactoryClass>pl.softwaremill.solver.move.SimpleMoveFactory</moveFactoryClass>
    </selector>
    <accepter>
        <completeSolutionTabuSize>5000</completeSolutionTabuSize>
    </accepter>
    <forager>
        <foragerType>MAX_SCORE_OF_ALL</foragerType>
    </forager>
</localSearchSolver>