table {
    border-spacing: 0;
}

table tr {
}

table th {
    background-color: #ff6666;
    color: white;
    font-weight: bold;
    padding: 5px;
}

table td {
    padding: 5px;
}

.errorBox {
    color:red;
    display:block;
    min-height:1em;
    padding:0.8em 1.5em 0.5em 1.5em;
    text-decoration:none;
}

.warningBox {
    color:orange;
    display:block;
    min-height:1em;
    padding:0.8em 1.5em 0.5em 1.5em;
    text-decoration:none;
}

.noticeBox {
    color:green;
    display:block;
    min-height:1em;
    padding:0.8em 1.5em 0.5em 1.5em;
    text-decoration:none;
}